*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont,
                 "Segoe UI", Roboto, Ubuntu, Cantarell,
                 "Helvetica Neue", Arial, sans-serif;

    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.bi {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: 1;
}
