.menu {
    position: fixed;
    background: #212425;
    border-radius: 6px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, .15);
    z-index: 1000;
    min-width: 165px;
    max-width: 250px;
    overflow: hidden;
}

.menu button {
    width: 100%;
    padding: 8px 12px;
    border: none;
    background: transparent;
    text-align: left;
    cursor: pointer;
}

.menu button:hover {
    background: #36393a;
}