.form {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Added gap for spacing */
}

.headerRow {
    display: flex;
    justify-content: center;
}

.formRow {
    display: grid;
    grid-template-columns: 90px 1fr;
    align-items: center;
    column-gap: 12px;
    margin: 15px 0px;
}

.activeRow {
    display: flex;
    gap: 12px
}

.inputGroup {
    display: flex;
    align-items: center;
    gap: 8px;
    border: 1px solid #ccc;
    padding: 6px 8px;
}

.inputGroup i {
    font-size: 14px;
    color: #666;
}

.inputGroup input {
    flex: 1;
    background: none;
    border: none;
    outline: none;
}



.inputGroup:focus-within {
    border-color: var(--primary-bg);
}

/* --- Extensions for Layout --- */

.mainLayout {
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.controls {
    display: flex;
    justify-items: right;
    justify-content: space-between;
    gap: 10px;
    margin-top: 15px;
}

.textArea {
    width: 100%;
    border: none;
    outline: none;
    background: none;
    resize: vertical;
}