.tableWrapper {
    width: 100%;
    overflow-x: auto; /* horizontal scroll on small screens */
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
}

thead {
    background-color: var(--primary-bg);
    color: white;
    text-align: left;
}

th, td {
    padding: 12px 16px;
}

tbody tr {
    background-color: #212122;
    transition: background-color 0.2s;
}

tbody tr:nth-child(even) {
    background-color: #414143;
}

th:first-child {
    border-top-left-radius: 8px;
}

th:last-child {
    border-top-right-radius: 8px;
}

td:first-child {
    border-left: none;
}

td:last-child {
    border-right: none;
}

.actionCell {
    position: relative;
    width: 1px;
}