.section {
    display: flex;
    flex-direction: column;
    gap: 20px; /* space between header/filter/button and table */
    padding: 20px;
}

.headerRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; /* wrap on small screens */
    gap: 10px;
}

.h1 i {
    font-size: 32px;
}



.controls {
    display: flex;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
}